*{
  margin: 0;
  padding: 0;
}

nav{
  background-color: #ee002d!important;
}

.tabs .tab a{
  color: #ee002d!important;
}

.postlist{
 margin: 20px 0;
} 

.titlebox{
  margin-top: 20px;
  height: 80px;
  text-transform: uppercase;
  font-size: medium;
  font-weight: bold;
}

.linking{
  color: black;
}

.numberOfComments{
  cursor: pointer;
}