*{
  margin: 0;
  padding: 0;
}

nav{
  background-color: #ee002d!important;
}

.tabs .tab a{
  color: #ee002d!important;
}

.postlist{
 margin: 20px 0;
} 

.titlebox{
  margin-top: 20px;
  height: 80px;
  text-transform: uppercase;
  font-size: medium;
  font-weight: bold;
}

.linking{
  color: black;
}

.numberOfComments{
  cursor: pointer;
}

.commentinfo{
  margin-top: 20px;
  color: rgb(160, 159, 159)
}

.listed-page{
  display: inline!important;
  margin:0 2rem;
  font-size: 1.5rem;
}
.pagination{
  text-align: center;
  margin: 2rem;
}

.page-footer {
  background-color: #ee002d!important;
}